[Desktop Entry]
Name=Advanced Strategic Command
Comment=Turn based strategy game
Comment[pl]=Gra strategiczna z podziałem na tury
Exec=asc
Icon=asc.xpm
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;StrategyGame;
# vi: encoding=utf-8
