[Desktop Entry]
Name=Advanced Strategic Command
Comment=Turn based strategy game
Comment[pl]=Gra strategiczna z podziałem na tury
Exec=asc
Icon=asc
Terminal=false
Type=Application
Categories=Game;StrategyGame;
# vi: encoding=utf-8
