[Desktop Entry]
Name=Advanced Strategic Command
Comment=Turn based strategy game
Comment[pl]=Gra strategiczna z podziałem na tury
Exec=asc
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
